absl-py==1.4.0
aiofiles==22.1.0
aiosqlite==0.19.0
altair==4.2.2
ansi2html==1.8.0
anyio==3.6.2
arcgis==2.1.0.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.0
bleach==6.0.0
blinker==1.5
blis==0.7.9
boto3==1.26.142
botocore==1.29.142
branca==0.6.0
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.8
category-encoders==2.6.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
cmdstanpy==1.1.0
colorama==0.4.6
comm==0.1.2
confection==0.0.4
contourpy==1.0.7
convertdate==2.4.0
cryptography==40.0.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.33
dash==2.9.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.5.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
fake-useragent==1.1.3
Faker==18.4.0
fastjsonschema==2.16.3
favicon==0.7.0
filelock==3.12.0
Flask==2.2.3
flatbuffers==23.3.3
folium==0.14.0
fonttools==4.39.0
fqdn==1.5.1
fsspec==2023.5.0
gast==0.4.0
geomet==1.0.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-auth==2.16.2
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpcio==1.51.3
h11==0.14.0
h5py==3.8.0
holidays==0.25
htbuilder==0.6.1
idna==3.4
imbalanced-learn==0.10.1
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jax==0.4.12
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonpointer==2.3
jsonschema==4.17.3
jupyter-client==6.1.12
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter-server==1.24.0
jupyter-ydoc==0.2.4
jupyter_core==5.2.0
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.22.1
kaleido==0.2.1
keras==2.12.0
keyring==23.13.1
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langcodes==3.3.0
lerc==4.0.1
libclang==15.0.6.1
lightgbm==3.3.5
llvmlite==0.39.1
locket==1.0.0
LunarCalendar==0.0.9
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.2.0
markdownlit==0.0.6
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
missingno==0.5.2
mistune==2.0.5
ml-dtypes==0.2.0
more-itertools==9.1.0
mpmath==1.3.0
murmurhash==1.0.9
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.8.10
outcome==1.2.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pathy==0.10.1
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.4.0
pipreqs==0.4.13
platformdirs==3.1.1
plotly==5.14.1
plotly-resampler==0.8.3.2
pmdarima==2.0.3
preshed==3.0.8
prometheus-client==0.16.0
prompt-toolkit==3.0.38
prophet==1.1.4
protobuf==3.19.0
psutil==5.9.4
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==3.0.0
pycparser==2.21
pydantic==1.10.7
pydeck==0.8.0
Pygments==2.14.0
pymdown-extensions==9.11
PyMeeus==0.5.12
Pympler==1.0.1
pyod==1.0.9
pyparsing==3.0.9
pypiwin32==223
pyrsistent==0.19.3
pyshp==2.3.1
PySocks==1.7.1
pyspnego==0.9.0
python-certifi-win32==1.6.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.0
requests==2.28.2
requests-gssapi==1.2.3
requests-kerberos==0.14.0
requests-negotiate-sspi==0.5.2
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.2
rsa==4.9
s3transfer==0.6.1
schemdraw==0.16
scikeras==0.10.0
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.10.1
seaborn==0.12.2
selenium==4.8.2
semver==2.13.0
Send2Trash==1.8.2
setuptools-git==1.2
setuptools-scm==7.1.0
shap==0.41.0
six==1.16.0
sktime==0.17.1
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sodapy==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-streamlit==1.0.5
srsly==2.4.6
st-annotated-text==4.0.0
stack-data==0.6.2
statsmodels==0.13.5
streamlit==1.20.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-folium==0.11.1
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-option-menu==0.3.2
streamlit-shap==1.0.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
sympy==1.12
tbats==1.1.3
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.17.1
thinc==8.1.9
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
tornado==6.2
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.2
typer==0.7.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.3
ujson==5.7.0
uri-template==1.2.0
urllib3==1.26.15
validators==0.20.0
wasabi==1.1.1
watchdog==2.3.1
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.7
winkerberos==0.9.1
wrapt==1.14.1
wsproto==1.2.0
xgboost==1.7.5
xxhash==3.2.0
y-py==0.5.9
yarg==0.1.9
yellowbrick==1.5
ypy-websocket==0.8.2
zipp==3.15.0
